.login {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url(https://media.istockphoto.com/vectors/checklist-clipboard-and-pencil-icon-flat-design-on-white-background-vector-id1269452744?k=20&m=1269452744&s=612x612&w=0&h=Yl_AGFhPzvPBClEAP3acwEqBvqFpzD6uvntnlH68s4c=);
  background-size: cover;
}

.loginTitle {
  font-size: 50px;
}

.loginForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.loginForm > label {
  margin: 10px 0;
}

.loginForm > input {
  padding: 10px;
  background-color: white;
  border: none;
}

.loginButton {
  margin-top: 20px;
  cursor: pointer;
  background-color: lightcoral;
  border: none;
  color: white;
  border-radius: 10px;
  padding: 10px;
}

.loginRegisterButton {
  position: absolute;
  top: 60px;
  margin-top: 20px;
  cursor: pointer;
  background-color: hotpink;
  border: none;
  color: white;
  border-radius: 10px;
  padding: 10px;
  right: 20px;
}
